<div class="container">
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4"></div>
        <div class="col-xs-8 col-sm-8 col-md-4 col-lg-4">
            <h1>Hello! {{user}}</h1>
            <div class="row">
                <ul class="list-group">
                        <li class="list-group-item">
                            <a href="#" class="giorno">Sign In</a>
                        </li>
                        <li class="list-group-item">
                            <a href="/menu/settimana/1" class="giorno">Ordina</a>
                        </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4"></div>
    </div>
</div>
