body {
  padding: 50px;
}

a {
  color: #00B7FF;
}

/* My Classes */

/* Index Pasti*/

.pasto {
  max-width: 253px;
}

.photo {
  width: 100%;
  height: 180px;
}

/*Show Pasto*/

.info_photo {
  max-width: 50%;
}

#descrizione {
  border: 1px solid gray;

 }

#avvertenze {

  border: 1px solid indianred;

}

