<div class="container text-xs-center text-sm-center text-md-center text-lg-center">
    <div class="row">
        <h1 class="header">{{nome}}</h1>
    </div>
    <div class="row">
        <img class="img info_photo" src="/images/{{fotoURL}}"/>
        <hr />
    </div>
    <div class="row informazioni">
        <div id="descrizione" class="col-sm-6 col-md-6 col-lg-6 alert">
            <p>
                <h5>Informazioni</h5>
                {{descrizione}}
            </p>
        </div>
        <div id="avvertenze" class="col-sm-6 col-md-6 col-lg-6 alert alert-danger ">
            <p>
                <h5>Avvertenze</h5>
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat
                nulla pariatur. Excepteur sint occaecat cupidatat non proident,
                sunt in culpa qui officia deserunt mollit anim id est laborum."
            </p>
        </div>
    </div>
    <div class="row">
        <button type="button" class="btn btn-primary">Chiudi</button>
    </div>

</div>

<script src="/javascripts/users/show.js" type="text/javascript"></script>