<div class="container">
    <ul class="list-group">
        {{#each days}}
            <li class="list-group-item">
                <a href="#" class="giorno">{{this}}</a>
            </li>
        {{/each}}
    </ul>
</div>